# Wird von install.sh angelegt. Werte bei Bedarf anpassen, danach: docker compose up -d
BIND_IP=100.x.y.z
HA_PORT=8123
RING_INTERVALL_MINUTEN=5
RING_RUECKBLICK_TAGE=7
# 0 = nie löschen
RING_AUFBEWAHRUNG_TAGE=90
RING_WEBHOOK_ID=
# Wohin die Videos gespeichert werden (Standard: ./aufnahmen). Beispiele:
#   NAS-Freigabe auf dem Server eingebunden: /mnt/nas-ring
#   Alles läuft auf dem UGREEN-NAS:          /volume1/Ring-Aufnahmen
AUFNAHMEN_PFAD=./aufnahmen
# Besitzer des Aufnahme-Ordners (id -u / id -g)
PUID=1000
PGID=1000
COMPOSE_PROJECT_NAME=smarthome
